body{
	background: url("tema5/fondot5.png");
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
}

div,p,h1,h2,h3,a,label,select,input,textarea{
	font-family: 'Roboto Condensed', sans-serif;
}

label{
	color: #ed0e69;
    display: block;
    float: left;
    font-size: 0.8em;
    padding: 18px 12px;
    width: 100%;
}

.contenido{
	margin-top: 35px;
	/* background: url("tema3/pixelt3.png"); */
	background-color:white ;
	float: right;
    width: 49%;
}



.encabezado {
    background-color: white;
    font-size: 20px;
    width: 100%;
}

h1 {
    color: #8abfe1 ;
    font-size: 2.5em;
    font-weight: 300;
    margin: 0 0 1em;
    /* text-transform: uppercase; */
}

h2 {
    color: #6a3b9e ;
    font-size: 1.7em;
    font-weight: normal;
    margin: 10px 0;
}

p{
	color:#6a3b9e  ;
	font-weight: 300;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {  
   color: white;
}
input, select, textarea {
    background-color: #8abfe1  ;
    border: medium none;
    color: white;
    display: block;
    float: left;
    padding: 16px 12px;
}


input[type="submit"] {
    background-color: #6a3b9e  ;
    border: medium none;
    color: white;
    font-size: 0.7em;
    margin: 2em 0;
    padding: 10px 53px;
    text-transform: uppercase;
    width: auto;
}


